{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Listar Noticias</title>
{% endblock %}

{% block contenido %}
<section id="listar_noticias"> 

  <!-- Botones de ordenamiento -->
  <form method="GET" action="{% url 'apps.noticias:ordenar_por' %}" class="text-center my-3">
    <button class="btn btn-secondary mx-2" name="orden" type="submit" value="fecha">Ordenar por fecha</button>
    <button class="btn btn-secondary mx-2" name="orden" type="submit" value="titulo">Ordenar por título</button>
    <button class="btn btn-secondary mx-2" name="orden" type="submit" value="titulo">Autores</button>
  </form>

  {% if noticias %}
  <section class="noticias-section">
    <div class="container">
      <h1 class="text-center mb-4"><strong>Noticias</strong></h1>

      <div class="row justify-content-center">
        {% for p in noticias %}
        <div class="col-md-4 mb-4">
          <div class="card noticia-card">
            <img src="{{ p.imagen.url }}" class="card-img-top" alt="{{ p.titulo }}">
            <div class="card-body">
              <h5 class="card-title">{{ p.titulo }}</h5>
              <p class="text-muted">{{ p.fecha_agregado }}</p>
              <p class="card-text">Si quiere leer más acerca de esta noticia, haga click en "Leer más".</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Categoría: {{ p.categoria }}</li>
              <li class="list-group-item">Autor: {{ p.autor }}</li>
              <li class="list-group-item">Agregado por: {{ p.colaborador }}</li>
            </ul>
            <div class="card-body text-center">
              <a href="{% url 'apps.noticias:detalle_noticia' p.pk %}" class="btn btn-outline-primary">Leer más</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</section>
{% endblock %}

