{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<!-- Banner con imagen de fondo -->
<section class="banner-ciberinfo">
    <img src="{% static 'img/banner.jpg' %}" class="carrusel-img" alt="Imagen 1">
</section>

<!-- Texto -->
<h2>Bienvenido a ciberinfo</h2>
<p>Nuestro equipo multidisciplinario se enfoca en la ciberseguridad y la educacion.</p>
<p>Teniendo en cuenta que los ciberataques evolucionan a la par de las tecnologias cambiantes y los delincuentes utilizan nuevas herramientas junto a nuevas estrategias para el acceso no autorizado al sistema.</p>
<p>Nuestro objetivo es que las organizaciones y empresas que experimentan estrategias de ciberseguridad se interioricen en el tema para minimizar las consecuencias no deseadas de ciberataques, pueden acceder a la informacion de vanguardia.</p>

{% endblock %}
