{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Contacto</title>
{% endblock %}

{% block contenido %}
<p>Integrado por Emanuel Kek y su grupo multidisciplinario</p>

<!-- Botones de redes -->
<div class="botones-contacto">
  <a href="https://www.instagram.com/ema.kek" class="btn-red btn-instagram" target="_blank">
    <i class="fab fa-instagram"></i> Instagram
  </a>
  <a href="https://wa.me/5493735484820" class="btn-red btn-whatsapp" target="_blank">
    <i class="fab fa-whatsapp"></i> WhatsApp
  </a>
</div>
{% endblock %}
